.toast-message{
    animation: slideRightOut 0.5s forwards;
}
@keyframes slideRightOut {
    0%{
        right: 0;

    }
    100%{
        right: -100%;
    }
}

.wrapper{
    background: url('/assets/about_bg.webp');
    backdrop-filter: blur(9px);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}